// 下層ページの共通要素
/*
    ##     ## ########    ###    ########
    ##     ## ##         ## ##   ##     ##
    ##     ## ##        ##   ##  ##     ##
    ######### ######   ##     ## ##     ##
    ##     ## ##       ######### ##     ##
    ##     ## ##       ##     ## ##     ##
    ##     ## ######## ##     ## ########
*/
.pageHead {
  position: relative;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#1a1a1a, 0.64);
    content: "";
  }
  &__img {
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 23rem;
      height: 100%;
      background: $siteColor;
      transform: skew(-20deg);
      transform-origin: top right;
      content: "";
    }
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0 calc(50vw - 60rem);
    width: 100%;
    height: 100%;
    &--inner {
      position: relative;
      padding-bottom: 3.6rem;
      overflow: hidden;
      line-height: 1.3;
      color: #fff;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 6rem;
        height: 0.4rem;
        background: $siteColor;
        content: "";
      }
    }
    &--en {
    }
    &--ja {
      font-size: 5rem;
      font-weight: 700;
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    &__img {
      &::after {
        width: 9.7rem;
        transform: skew(-20deg);
      }
    }
    &__text {
      padding: 0 $pad;
      &--inner {
        padding-bottom: 2rem;
        &::after {
          width: 3.4rem;
          height: 0.2rem;
          background: #fff;
        }
      }
      &--en {
        font-size: 1.2rem;
      }
      &--ja {
        font-size: 2.1rem;
      }
    }
  }
}

/*
    #### ##    ## ######## ######## ########  ##     ## #### ######## ##      ##
     ##  ###   ##    ##    ##       ##     ## ##     ##  ##  ##       ##  ##  ##
     ##  ####  ##    ##    ##       ##     ## ##     ##  ##  ##       ##  ##  ##
     ##  ## ## ##    ##    ######   ########  ##     ##  ##  ######   ##  ##  ##
     ##  ##  ####    ##    ##       ##   ##    ##   ##   ##  ##       ##  ##  ##
     ##  ##   ###    ##    ##       ##    ##    ## ##    ##  ##       ##  ##  ##
    #### ##    ##    ##    ######## ##     ##    ###    #### ########  ###  ###
*/
.interviewItem {
  $time: 0.5s;
  margin: 0 1rem;
  width: calc((100% - 6rem) / 4);
  &:nth-child(2n) {
    margin-top: 5rem;
  }
  &__link {
    color: $fontColor;
    &:hover {
      background-color: #1a1a1a;
      img {
        transform: scale(1.1);
      }
      .interviewItem {
        &__text {
          &::before {
            transform: none;
          }
          &--bg {
            color: #fff;
          }
        }
      }
    }
  }
  &__img {
    overflow: hidden;
    img {
      transition: $time;
    }
  }
  &__text {
    position: relative;
    padding: 1.5rem;
    background: #fff;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: #1a1a1a;
      transition: $time;
      transform: scaleY(0);
      transform-origin: bottom;
      content: "";
    }
    &--bg {
      position: relative;
      z-index: 3;
    }
    &--ttl {
      margin-bottom: 2.5rem;
      height: 6.5rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
    &--positon {
      font-size: 1.8rem;
      .join {
        font-size: 1.5rem;
      }
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    margin-top: 0;
    &:nth-child(2n) {
      margin-top: 0;
    }
    &__img {
      max-width: none;
    }
    &__text {
      padding: 1.3rem;
      &--ttl {
        margin-bottom: 1.5rem;
        height: auto;
      }
      &--positon {
        font-size: 1.2rem;
        .join {
          font-size: 1.2rem;
        }
      }
    }
  }
}
.interviewSlide {
  &__btn {
    top: calc(50% - 3rem);
    width: 2.5rem;
    transform: translateY(-50%);
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
    &::after {
      font-family: none;
      font-size: 2.5rem;
      content: "";
    }
    .icon {
      width: 100%;
    }
  }
}

/*
       ###    ##    ## #### ##     ## ########
      ## ##   ###   ##  ##  ###   ### ##
     ##   ##  ####  ##  ##  #### #### ##
    ##     ## ## ## ##  ##  ## ### ## ######
    ######### ##  ####  ##  ##     ## ##
    ##     ## ##   ###  ##  ##     ## ##
    ##     ## ##    ## #### ##     ## ########
*/
.slideImg {
  display: block;
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $siteColor;
    content: "";
  }
  &.active {
    $speed: 0.5s;
    img {
      animation: slideImg $speed linear 0s 1 forwards;
    }
    &::before {
      animation: slideImg-bg $speed linear 0s 1 forwards;
    }
  }
  @keyframes slideImg {
    0% {
      background: $siteColor;
      opacity: 0;
    }
    50% {
      background: $siteColor;
      opacity: 0;
    }
    50.1% {
      background: transparent;
      opacity: 1;
    }
    100% {
      background: transparent;
      opacity: 1;
    }
  }
  @keyframes slideImg-bg {
    50% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }
}

.anime {
  &__wrapper {
    overflow: hidden;
  }
  &.text-in {
    transform: translateX(-100%);
  }
  &.text-line-in {
    transform: scaleX(0);
    transform-origin: left;
  }
  &.text-in,
  &.text-line-in {
    &.active {
      transform: none;
    }
  }
}
