.aboutUs {
  padding: 0 0 10rem;
  &__container {
    padding: 7.5rem 0 7rem;
    &:not(:first-child) {
      border-top: solid 1px #c1c1c1;
    }
  }
  &__img {
    width: calc(50% - 3rem);
  }
  &__text {
    width: 50%;
  }
  &__head {
    position: relative;
    padding: 0 0 2rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.1;
    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 6rem;
      height: 0.4rem;
      background: $siteColor;
      content: "";
    }
  }
  &__desc {
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
  }
  &__more {
    margin: auto 0 0;
    width: 28.2rem;
    height: 7rem;
  }
  &__btn {
  }
  &__entry {
    margin: 2rem 0 0;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding: 0 0 8rem;
    &__container {
      padding: 4rem 0;
    }
    &__img {
      margin: 1.2rem 0 0;
      width: 100%;
    }
    &__text {
      width: 100%;
    }
    &__head {
      padding: 0 0 1.7rem;
      font-size: 2.1rem;
      &::after {
        width: 4rem;
        height: 0.3rem;
      }
    }
    &__desc {
      margin: 2rem 0 0;
      font-size: 1.5rem;
    }
    &__more {
      margin: 2.6rem auto 0;
      max-width: 25rem;
      height: 5.5rem;
    }
    &__btn {
    }
    &__entry {
      margin: 1rem 0 0;
    }
  }
}
