/*
    ##     ## ########    ###    ########
    ##     ## ##         ## ##   ##     ##
    ##     ## ##        ##   ##  ##     ##
    ######### ######   ##     ## ##     ##
    ##     ## ##       ######### ##     ##
    ##     ## ##       ##     ## ##     ##
    ##     ## ######## ##     ## ########
*/
.futureHead {
  position: relative;
  margin: 0 0 5.4rem;
  &__img {
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    &--main {
      position: relative;
      line-height: 1;
    }
    &--en {
      font-size: 20rem;
      font-weight: 900;
      opacity: 0.14;
    }
    &--ja {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 5rem;
      font-weight: 700;
    }
    &--sub {
      margin: 5rem 0 0;
      font-size: 3rem;
      font-weight: 500;
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    position: relative;
    margin: 0 0 5.4rem;
    &__img {
    }
    &__text {
      &--main {
      }
      &--en {
        font-size: 8rem;
      }
      &--ja {
        font-size: 2.8rem;
      }
      &--sub {
        margin: 3rem 0 0;
        font-size: 1.5rem;
        line-height: 2;
      }
    }
  }
}

/*
     ######  ########  ######
    ##    ## ##       ##    ##
    ##       ##       ##
     ######  ######   ##
          ## ##       ##
    ##    ## ##       ##    ##
     ######  ########  ######
*/
.futureSec {
  position: relative;
  padding: 6.6rem 0 6.6rem 10rem;
  &:not(:first-child) {
    border-top: solid 1px #c1c1c1;
  }
  &__head {
    position: relative;
    padding: 0 0 1.3rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 6rem;
      height: 0.4rem;
      background: $siteColor;
      content: "";
    }
    &--bar {
      position: absolute;
      top: 1rem;
      left: -10rem;
      font-size: 2.6rem;
      color: $siteColor;
      letter-spacing: 0.1em;
      transform: rotate(90deg);
      transform-origin: top left;
      &::after {
        display: block;
        margin-left: 4rem;
        width: 19rem;
        height: 1px;
        background: $siteColor;
        content: "";
      }
    }
  }
  &__container {
    padding: 3.5rem 0 0;
    &:not(:first-of-type) {
      padding-top: 8rem;
    }
  }
  &__img {
    width: calc(50% - 3rem);
  }
  &__text {
    width: 50%;
  }
  &__subhead {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.8;
  }
  &__desc {
    margin: 3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2;
  }
  &__entry {
    margin: 6.4rem 0 10rem;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    margin: 2.6rem 0 0;
    padding: 0;
    &:not(:first-child) {
      border-top: none;
    }
    &__head {
      padding: 2.6rem 0 0;
      border-top: solid 1px $siteColor;
      font-size: 2.1rem;
      line-height: 1.9;
      .icon {
        position: absolute;
        top: calc(50% - 1.6rem);
        right: 0;
        font-size: 1.6rem;
        color: $siteColor;
        transition: 0.5s;
      }
      &::after {
        content: none;
      }
      &--bar {
        position: relative;
        top: auto;
        left: auto;
        font-size: 1.6rem;
        transform: none;
        .inner {
          padding-right: 0;
          background: transparent;
        }
        &::after {
          content: none;
        }
      }
      &.open {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    &__container {
      padding: 3.5rem 0 0;
      &:not(:first-of-type) {
        padding-top: 8rem;
      }
    }
    &__img {
      margin: 1.2rem 0 0;
      width: 100%;
    }
    &__text {
      width: 100%;
    }
    &__subhead {
      font-size: 1.8rem;
    }
    &__desc {
      margin: 2rem 0 0;
      font-size: 1.5rem;
    }
    &__entry {
      margin: 12.5rem 0 8rem;
    }
  }
}
