.sdgs {
  position: relative;
  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50rem;
    height: 90rem;
    background: #f9f9f9;
    transform: skew(-17deg);
    transform-origin: top right;
    content: "";
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
  }
}

/*
       ###    ########   #######  ##     ## ########
      ## ##   ##     ## ##     ## ##     ##    ##
     ##   ##  ##     ## ##     ## ##     ##    ##
    ##     ## ########  ##     ## ##     ##    ##
    ######### ##     ## ##     ## ##     ##    ##
    ##     ## ##     ## ##     ## ##     ##    ##
    ##     ## ########   #######   #######     ##
*/
.sdgsAbout {
  padding: 10rem 0 9rem;
  &__head {
    position: relative;
    padding: 0 0 2rem;
    border-bottom: solid 2px #1a1a1a;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
    &::before {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 10rem;
      height: 2px;
      background: $siteColor;
      content: "";
    }
  }
  &__wrapper {
    margin: 6rem 0 0;
  }
  &__img {
    max-width: 48%;
  }
  &__text {
    max-width: 48%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2;
    p {
      margin: 0;
      &:not(:first-child) {
        margin: 2rem 0 0;
      }
    }
    a {
      color: #0066ec;
      text-decoration: underline;
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding: 6rem 0 2.5rem;
    &__head {
      padding: 0 0 1rem;
      font-size: 2.2rem;
      &::before {
        width: 5rem;
      }
    }
    &__wrapper {
      margin: 2rem 0 0;
      &:not(:first-child) {
        margin: 8.2rem 0 0;
      }
    }
    &__img {
      max-width: none;
    }
    &__text {
      margin: 1rem 0 0;
      max-width: none;
      font-size: 1.5rem;
      line-height: 1.7;
      p {
        &:not(:first-child) {
          margin: 4.2rem 0 0;
        }
      }
    }
  }
}

/*
     ######  ########  ######
    ##    ## ##       ##    ##
    ##       ##       ##
     ######  ######   ##
          ## ##       ##
    ##    ## ##       ##    ##
     ######  ########  ######
*/
.sdgsContainer {
  background: url("../img/sdgs_bg.png") no-repeat top left;
  @media #{$media-sp} {
    background: url("../img/sdgs_bg_sp.png") no-repeat top left;
  }
  &.fixedBg {
    background-attachment: fixed;
  }
}
.sdgsSec {
  position: relative;
  padding: 6rem 0 10rem;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    z-index: -1;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
  &__head {
    position: relative;
    padding: 0 0 2rem;
    border-bottom: solid 2px #1a1a1a;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    &::before {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 10rem;
      height: 2px;
      background: $siteColor;
      content: "";
    }
  }
  &__img {
    flex: none;
  }
  &__data {
    margin: 1.3rem 0 0;
  }
  &__ttl {
    position: relative;
    padding: 3.2rem 0;
    border-bottom: solid 1px #c1c1c1;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
    &::before,
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 2.8rem;
      width: 2.3rem;
      height: 2px;
      background: $siteColor;
      transition: 0.5s;
      content: "";
    }
    &::after {
      transform: rotate(90deg);
    }
    &.open {
      &::after {
        transform: none;
      }
    }
  }
  &__dtl {
    padding: 3rem 0 2rem;
    line-height: 2.1;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    margin: 2.5rem 0 0;
    padding: 5.1rem 0 2.5rem;
    &__bg {
      &--left {
      }
      &--right {
      }
    }
    &__head {
      padding: 0 0 1rem;
      font-size: 2.2rem;
      img {
        margin: 1rem 0 0;
      }
      &::before {
        width: 5rem;
      }
    }
    &__data {
      margin: 0;
      border-bottom: solid 1px #c1c1c1;
    }
    &__ttl {
      padding: 2.2rem 0;
      border: none;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.3;
      &::before,
      &::after {
        right: 0;
        width: 1.6rem;
      }
      &:not(:first-child) {
        border-top: solid 1px #c1c1c1;
      }
    }
    &__dtl {
      margin: -1rem 0 0;
      padding: 0 0 2rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8;
    }
  }
}
