.topMessage {
  position: relative;
  padding: 14rem 0 12rem;
  overflow: hidden;
  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 38.5%;
    height: 234rem;
    background: #f9f9f9;
    transform: skew(-17deg);
    transform-origin: top right;
    content: "";
  }
  &__head {
    &--img {
      flex: none;
    }
    &--text {
      padding-right: 6rem;
    }
    &--ttl {
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 1.7;
    }
    &--sign {
      margin: 6.4rem 0 0;
      font-size: 2.2rem;
    }
  }
  &__body {
    margin: 5rem 0 0;
    &--ttl {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.3;
    }
    &--text {
      margin: 7.3rem 0 0;
      font-weight: 500;
      line-height: 2.1;
    }
    &--img {
      margin: 12rem 0 5rem;
    }
    &--signature {
      margin: 2rem 0 0;
      font-size: 2.2rem;
      font-weight: 700;
    }
    &--sign {
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding: 4rem 0 8rem;
    &__head {
      &--img {
      }
      &--text {
        margin: 2rem 0 0;
        padding-right: 0;
      }
      &--ttl {
        font-size: 2.4rem;
        line-height: 1.4;
      }
      &--sign {
        margin: 2rem 0 0;
        font-size: 1.6rem;
      }
    }
    &__body {
      margin: 4rem 0 0;
      &--ttl {
        font-size: 2.1rem;
      }
      &--text {
        margin: 2.6rem 0 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.8;
      }
      &--img {
        margin: 6rem 0 3rem;
      }
      &--signature {
        margin: 0 0 0 auto;
        font-size: 1.6rem;
        text-align: right;
      }
      &--co {
        width: 100%;
      }
      &--pos {
        margin-right: 1rem;
      }
    }
  }
}
