/*
 ##      ## ########     ###    ########
 ##  ##  ## ##     ##   ## ##   ##     ##
 ##  ##  ## ########  ##     ## ########
 ##  ##  ## ##   ##   ######### ##
  ###  ###  ##     ## ##     ## ##
*/
body {
  width: 100%;
}
// ↓SP相当幅
@media #{$media-sp} {
  .sp-wrap {
    padding-right: $pad;
    padding-left: $pad;
  }
}
// ↑SP相当幅
// ↓SP以外の幅
@media #{$media-notsp} {
  .wrap {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
// ↑SP以外の幅
@include pcWrapSize(1200); // PC用ラップサイズ .wrap.w○○○ を生成

@include wave(0.2);

/*
 ######## ######## ##     ## ########
    ##    ##         ## ##      ##
    ##    ######      ###       ##
    ##    ##         ## ##      ##
    ##    ######## ##     ##    ##
*/
// 基本のフォント設定
body,
button,
input,
select,
textarea {
  font-family: $sans_serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $fontColor;
  word-wrap: break-word;
}

body {
  line-height: 1.8;
}

a {
  color: $siteColor;
  text-decoration: none;
  &:link {
  }
  &:visited {
  }
  &:hover {
  }
  &:active,
  &:focus {
  }
}
p:not([class]):not(:last-child) {
  margin-bottom: 1em;
}

::selection {
  //選択範囲の装飾設定
  color: #fff;
  background-color: darken($siteColor, 5%);
}
