/*
     ######   #######  ##     ## ##     ##  #######  ##    ##
    ##    ## ##     ## ###   ### ###   ### ##     ## ###   ##
    ##       ##     ## #### #### #### #### ##     ## ####  ##
    ##       ##     ## ## ### ## ## ### ## ##     ## ## ## ##
    ##       ##     ## ##     ## ##     ## ##     ## ##  ####
    ##    ## ##     ## ##     ## ##     ## ##     ## ##   ###
     ######   #######  ##     ## ##     ##  #######  ##    ##
*/
.topCommon {
  &__ttl {
    position: relative;
    font-size: 5.2rem;
    font-weight: 700;
    &::before {
      position: absolute;
      bottom: -1rem;
      left: 0;
      z-index: -1;
      width: 6rem;
      height: 0.4rem;
      background: $siteColor;
      content: "";
    }
    &--ja {
      overflow: hidden;
    }
    &--en {
      position: absolute;
      top: -15rem;
      left: 0;
      z-index: -1;
      overflow: hidden;
      font-size: 15rem;
      font-weight: 700;
      color: #f0e6e8;
      letter-spacing: 0.01em;
    }
    &--small {
      margin-left: 3rem;
      font-size: 2.6rem;
      font-weight: 700;
    }
  }
  @media screen and (max-width: 1400px) {
    &__ttl {
      font-size: 4.2rem;
      &::before {
        bottom: -1rem;
        width: 6rem;
        height: 0.4rem;
      }
      &--ja {
      }
      &--en {
        top: -10rem;
        left: 0;
        font-size: 10rem;
      }
      &--small {
        margin-left: 3rem;
        font-size: 2.6rem;
      }
    }
  }
  @media #{$media-sp} {
    &__ttl {
      font-size: 2.8rem;
      &::before {
        width: 3rem;
        height: 0.2rem;
      }
      &--en {
        top: -5rem;
        font-size: 5.3rem;
      }
      &--small {
        margin-left: 0;
        font-size: 1.5rem;
      }
    }
  }
}

/*
    ########   ######
    ##     ## ##    ##
    ##     ## ##
    ########  ##   ####
    ##     ## ##    ##
    ##     ## ##    ##
    ########   ######
*/
.topBg {
  position: relative;
  padding-top: 6.3rem;
  overflow: hidden;
  &__bg-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 30%;
    height: calc(100% + 6rem);
    transition: 0.5s;
    &--inner {
      width: 100%;
      height: 100%;
      background: #f9f9f9;
      transform: skew(-15deg);
      transform-origin: right bottom;
    }
    // &.active {
    //   transform: none;
    // }
  }
  &__bg-2 {
    position: absolute;
    bottom: 0;
    left: -40%;
    z-index: -2;
    width: 40%;
    height: calc(100% + 6rem);
    transition: 0.5s;
    &--inner {
      width: 100%;
      height: 100%;
      background: #f9f9f9;
      transform: skew(-15deg);
      transform-origin: right bottom;
    }
    // &.active {
    //   transform: none;
    // }
  }
  @media #{$media-sp} {
    &__bg-1 {
      width: 100%;
    }
    &__bg-2 {
      left: 10%;
    }
  }
}

/*
    ##     ## ##     ##
    ###   ### ##     ##
    #### #### ##     ##
    ## ### ## ##     ##
    ##     ##  ##   ##
    ##     ##   ## ##
    ##     ##    ###
*/
.topMv {
  $topMargin: 16.4rem;
  position: relative;
  padding: 0 0 5rem;
  background: url("../img/top_mv_bg.png") no-repeat top center/cover;
  &__img {
    text-align: right;
  }
  &__text {
    position: absolute;
    top: $topMargin;
    left: calc(50vw - 60rem);
    z-index: 2;
    padding: 0 0 5.8rem;
    &--bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60rem;
      height: 2px;
      overflow: hidden;
      background: #fff;
      &::after {
        display: block;
        width: 10.8rem;
        height: 100%;
        background: #000;
        animation: topBarAnime 5s linear infinite;
        content: "";
        @keyframes topBarAnime {
          from {
            transform: translateX(-100%);
          }
          to {
            transform: translateX(60rem);
          }
        }
      }
    }
  }
  &__sub {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    &--inner {
      margin-left: -7.2rem;
      font-size: 5rem;
      line-height: 1.6;
      color: #fff;
      letter-spacing: 0.03em;
      transform: rotate(-17deg);
    }
  }
  &__head {
    position: fixed;
    top: calc(#{$topMargin} + 24.8rem);
    left: 0;
    z-index: 2;
    width: 100%;
    font-size: 4.8rem;
    font-weight: 600;
    &.none {
      display: none;
    }
    &--line {
      display: inline-block;
      position: relative;
      margin: 2rem 0;
      padding: 0 1rem;
      line-height: 1.2;
      color: #fff;
      background: #1a1a1a;
      &::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        transition-delay: 1s;
        transition-duration: 0.5s;
        content: "";
      }
      &.active {
        &::after {
          top: 0.9rem;
          left: 0.9rem;
          background: #fff;
        }
      }
    }
    &--text {
      display: inline-block;
    }
  }
  &__desc {
    margin: calc(4.5rem + 21.6rem + 7rem) 0 0;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.2;
    color: #fff;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    letter-spacing: 0.03em;
  }
  @media screen and (max-width: 1400px) {
    $margin: 7.2rem;
    &__img {
    }
    &__text {
      &--bar {
        left: 7.2rem;
        &::after {
        }
      }
    }
    &__sub {
      &--inner {
        margin-left: 0;
      }
    }
    &__head {
      &--line {
      }
      &--text {
      }
    }
    &__desc {
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding: 0;
    &__img {
    }
    &__text {
      top: 18rem;
      left: $pad;
      padding: 0 0 1rem;
      &::before,
      &::after {
        top: 0;
        bottom: auto;
      }
      &::before {
        width: 10.8rem;
      }
      &::after {
        width: 1.8rem;
      }
      &--bar {
        left: 0;
        width: 10.8rem;
        height: 2px;
        &::after {
          width: 1.8rem;
        }
      }
    }
    &__desc {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}

/*
    #### ##    ## ######## ########   #######
     ##  ###   ##    ##    ##     ## ##     ##
     ##  ####  ##    ##    ##     ## ##     ##
     ##  ## ## ##    ##    ########  ##     ##
     ##  ##  ####    ##    ##   ##   ##     ##
     ##  ##   ###    ##    ##    ##  ##     ##
    #### ##    ##    ##    ##     ##  #######
*/
.topIntro {
  position: relative;
  padding: 6.2rem 0 17.2rem;
  &__img {
    position: absolute;
    top: 10.4rem;
    right: 0;
    z-index: -1;
  }
  &__text {
  }
  &__head {
    font-size: 4.8rem;
    font-weight: 600;
    &.none {
      opacity: 0;
    }
    &--line {
      position: relative;
      padding: 0 1rem;
      color: #fff;
      background: #1a1a1a;
      &::after {
        display: block;
        position: absolute;
        top: 0.9rem;
        left: 0.9rem;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #fff;
        content: "";
      }
    }
  }
  &__desc {
    margin: 6.5rem 0 0 27%;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2;
    color: #fff;
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    z-index: 1;
    margin: -3rem 0 0;
    padding: 0;
    &__img {
      position: relative;
      top: auto;
      right: auto;
      margin: 0 0 0 $pad;
    }
    &__text {
      position: absolute;
      top: -7rem;
      left: $pad;
    }
    &__head {
      font-size: 2.4rem;
      &--line {
        padding: 0 1rem;
        &::after {
          top: 0.4rem;
          left: 0.4rem;
        }
      }
    }
    &__desc {
      margin: 4rem 0 0;
      padding: 0 $pad;
      font-size: 1.4rem;
    }
  }
}

/*
       ###    ########   #######  ##     ## ########
      ## ##   ##     ## ##     ## ##     ##    ##
     ##   ##  ##     ## ##     ## ##     ##    ##
    ##     ## ########  ##     ## ##     ##    ##
    ######### ##     ## ##     ## ##     ##    ##
    ##     ## ##     ## ##     ## ##     ##    ##
    ##     ## ########   #######   #######     ##
*/
.topAboutus {
  position: relative;
  padding: 4.7rem 0 11.5rem;
  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 45%;
    height: 65%;
    background: $siteColor;
  }
  &__wrap {
    margin-top: 7rem;
  }
  &__img {
    position: relative;
    width: 55rem;
    &--item {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.5s;
      &.show {
        opacity: 1;
      }
    }
    &--caption {
      position: absolute;
      bottom: 3rem;
      left: 1.5rem;
      .bg-white {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 2rem;
        background: white;
      }
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &__link {
    width: calc(100% - 60rem);
    &--item {
      display: block;
      position: relative;
      height: 10rem;
      font-size: 2.2rem;
      color: #1a1a1a;
      transition: all 0.2s;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 1px;
        background: #000;
        transition: all 0.2s;
        content: "";
      }
      &::before {
        transition: all 0.2s;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
      }
      .num {
        display: block;
        font-style: italic;
        line-height: 1;
      }
      .icon {
        position: absolute;
        right: 0;
        bottom: 2.5rem;
        width: 6rem;
        stroke: #1a1a1a;
        transition: all 0.2s;
      }
      &:hover {
        font-size: 2.6rem;
        .title {
          color: $siteColor;
        }
        .icon {
          position: absolute;
          right: -2rem;
          bottom: 2.5rem;
          stroke: $siteColor;
        }
        &::after {
          height: 2px;
          background: $siteColor;
        }
        &::before {
          position: absolute;
          bottom: 0;
          left: -2rem;
          z-index: -1;
          width: 18%;
          height: 2px;
          background: #000;
          content: "";
        }
      }
    }
  }
  /*
               ######  ########
              ##       ##     ##
      #######  ######  ########
                    ## ##
               ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding-bottom: 6.5rem;
    &__bg {
      top: 18%;
      width: 88%;
      height: 41%;
    }
    &__wrap {
      margin-top: 4rem;
    }
    &__img {
      margin-right: auto;
      margin-left: auto;
      width: 95%;
      &--caption {
        bottom: 3.5rem;
        left: 0.9rem;
        .bg-white {
          padding-right: 1rem;
          padding-left: 1rem;
          font-size: 1.4rem;
        }
      }
    }
    &__link {
      margin-top: 2rem;
      width: 100%;
      &--item {
        height: 7rem;
        font-size: 1.6rem;
        .text {
          left: 1rem;
        }
        .icon {
          right: 2rem;
          width: 4rem;
        }
        &:hover {
          font-size: 1.8rem;
          .icon {
            right: 0;
          }
          &::before {
            left: 0;
          }
        }
      }
    }
  }
}

/*
    ########  ##     ##  ######  #### ##    ## ########  ######    ######
    ##     ## ##     ## ##    ##  ##  ###   ## ##       ##    ##  ##    ##
    ##     ## ##     ## ##        ##  ####  ## ##       ##        ##
    ########  ##     ##  ######   ##  ## ## ## ######    ######    ######
    ##     ## ##     ##       ##  ##  ##  #### ##             ##        ##
    ##     ## ##     ## ##    ##  ##  ##   ### ##       ##    ##  ##    ##
    ########   #######   ######  #### ##    ## ########  ######    ######
*/
.topBusiness {
  padding-top: 20.6rem;
  &Link {
    margin-top: 7.5rem;
    overflow: hidden;
    &__item {
      width: calc(((100% - 1.6rem) / 3));
      filter: grayscale(100%);
      &--caption {
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        .line {
          position: relative;
          padding-right: 1rem;
          padding-left: 1rem;
          background: #1a1a1a;
          transition: 0.5s;
          &::after {
            position: absolute;
            bottom: -0.6rem;
            left: 0;
            z-index: -1;
            width: calc(100% + 0.6rem);
            height: 100%;
            background: #fff;
            transition: 0.5s;
            content: "";
          }
        }
      }
      &--icon {
        position: absolute;
        right: 4.7rem;
        bottom: 4rem;
        z-index: 2;
        width: 17rem;
        stroke: #fff;
        transition: 0.5s;
      }
      &:hover {
        filter: grayscale(0);
        .topBusinessLink__item {
          &--caption {
            color: #1a1a1a;
            .line {
              background: #fff;
              &::after {
                background: $siteColor;
              }
            }
          }
          &--icon {
            transform: translateX(1rem);
          }
        }
      }
    }
  }
  &__future {
    padding-top: 4.5rem;
    padding-bottom: 8rem;
    color: white;
    background: $siteColor;
    &--ttl {
      font-size: 3.5rem;
    }
    &--para {
      margin-top: 2.3rem;
    }
    &--more {
      margin: 7.2rem auto 0;
      width: 28rem;
      height: 7rem;
    }
  }
  @media screen and (max-width: 1350px) {
    padding-top: 20.6rem;
    &Link {
      margin-top: 7.5rem;
      overflow: hidden;
      &__item {
        width: calc(((100% - 1.6rem) / 3));
        filter: grayscale(100%);
        &--caption {
          font-size: 2.5rem;
        }
      }
    }
  }
  /*
             ######  ########
            ##       ##     ##
    #######  ######  ########
                  ## ##
             ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding-top: 7rem;
    background: $siteColor;
    .topCommon__ttl {
      z-index: 2;
      color: #fff;
      &::before {
        background: #fff;
      }
      &--en {
        z-index: -1;
        color: #ea2e52;
      }
    }
    &Link {
      margin-top: 5.5rem;
      &__item {
        margin: 0 0 2rem;
        width: 100%;
        .md-lay.dark:before {
          opacity: 0;
        }
        &--lay {
          padding: 0 $pad 8.8rem;
          height: 27.3rem;
        }
        &--img {
          position: relative;
          height: 100%;
          overflow: hidden;
          &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.5);
            content: "";
          }
        }
        &--caption {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1.5rem 4rem 1.5rem 2.8rem;
          font-size: 2rem;
          line-height: 1.4;
          text-align: left;
          background: #1a1a1a;
          transform: translate(0, 0);
          .caption-icon {
            margin-left: 3rem;
            width: 5rem;
            stroke: white;
          }
          .line {
            display: block;
            padding: 0;
            width: 100%;
            &::after {
              content: none;
            }
          }
        }
        &--more {
          margin-top: 2rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
    &__future {
      margin: 1.5rem 0 0;
      padding-top: 0;
      padding-bottom: 6.5rem;
      &--ttl {
        font-size: 2rem;
      }
      &--para {
        margin-top: 1.7rem;
        font-size: 1.5rem;
      }
      &--more {
        margin-top: 5rem;
        width: 25rem;
        height: 5.5rem;
      }
    }
  }
}

/*
    #### ##    ## ######## ######## ########  ##     ## #### ######## ##      ##
     ##  ###   ##    ##    ##       ##     ## ##     ##  ##  ##       ##  ##  ##
     ##  ####  ##    ##    ##       ##     ## ##     ##  ##  ##       ##  ##  ##
     ##  ## ## ##    ##    ######   ########  ##     ##  ##  ######   ##  ##  ##
     ##  ##  ####    ##    ##       ##   ##    ##   ##   ##  ##       ##  ##  ##
     ##  ##   ###    ##    ##       ##    ##    ## ##    ##  ##       ##  ##  ##
    #### ##    ##    ##    ######## ##     ##    ###    #### ########  ###  ###
*/
.topInterview {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 17rem;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 90%;
    height: 100%;
    background: #f9f9f9;
  }
  &Wrap {
    margin-top: 9.5rem;
  }
  /*
             ######  ########
            ##       ##     ##
    #######  ######  ########
                  ## ##
             ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding-top: 8.5rem;
    padding-bottom: 7rem;
    .topCommon__ttl {
      line-height: 1.2;
      &--en {
        top: -3rem;
      }
    }
    &__bg {
    }
    &Wrap {
      margin-top: 3rem;
    }
    .inteviewItem {
    }
  }
}

/*
     ######  ########   #######   ######   ######  ########    ###    ##       ##    ##
    ##    ## ##     ## ##     ## ##    ## ##    ##    ##      ## ##   ##       ##   ##
    ##       ##     ## ##     ## ##       ##          ##     ##   ##  ##       ##  ##
    ##       ########  ##     ##  ######   ######     ##    ##     ## ##       #####
    ##       ##   ##   ##     ##       ##       ##    ##    ######### ##       ##  ##
    ##    ## ##    ##  ##     ## ##    ## ##    ##    ##    ##     ## ##       ##   ##
     ######  ##     ##  #######   ######   ######     ##    ##     ## ######## ##    ##
*/
.topCrosstalk {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 9rem;
  &__bg {
    position: absolute;
    top: -18rem;
    left: 0;
    z-index: -2;
    width: 100%;
    height: calc(100% + 18rem);
    background: $siteColor;
  }
  .top-title {
    color: white;
    &::before {
      background: white;
    }
    &--en {
      color: #ea2e52;
    }
  }
  &Slide {
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    &__item {
      position: relative;
      z-index: 1;
      &.swiper-slide-active {
        z-index: 2;
      }
      img {
        z-index: -1;
        transition: all 1s;
        &:hover {
          transform: scale(1.08, 1.08);
        }
      }
      &--caption {
        position: absolute;
        left: -3rem;
        z-index: 2;
        font-size: 3rem;
        color: white;
        transform: translateY(-50%);
        .small {
          margin-left: 0.8rem;
          font-size: 2rem;
        }
        .bg {
          display: inline-block;
          position: relative;
          padding-right: 1rem;
          padding-left: 1.5rem;
          width: 100%;
          height: 100%;
          background: #1a1a1a;
          &::after {
            position: absolute;
            bottom: -0.8rem;
            left: 0.8rem;
            z-index: -2;
            width: 100%;
            height: 100%;
            background: white;
            content: "";
          }
        }
      }
      &:hover {
        z-index: 3;
      }
    }
    .swiper-pagination {
      bottom: 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: calc(50% - 2rem);
      width: 5.4rem;
      transform: translateY(-50%);
      .icon {
        width: 100%;
      }
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-family: none;
      font-size: 2.5rem;
      content: "";
      /* line-height: 1; */
    }
    .swiper-button-prev {
      left: 22%;
    }
    .swiper-button-next {
      right: 22%;
    }
    .swiper-pagination-bullet {
      margin: 0 6px !important;
      border-radius: 0;
      width: 5rem;
      height: 0.3rem;
      background: white;
      opacity: 0.25;
      &-active {
        opacity: 1;
      }
    }
  }
  &__more {
    margin: 6rem auto 0;
    width: 28rem;
    height: 7rem;
  }
  /*
             ######  ########
            ##       ##     ##
    #######  ######  ########
                  ## ##
             ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding-top: 8rem;
    padding-bottom: 7.5rem;
    &__bg {
      top: -7rem;
      height: calc(100% + 18rem);
    }
    &Slide {
      margin-top: 3.3rem;
      padding-top: 4rem;
      padding-bottom: 0;
      &__item {
        &--caption {
          left: -0.5rem;
          font-size: 1.6rem;
          line-height: 1.9;
          .bg {
            padding: 0 1rem;
            line-height: 1.5;
            &::after {
              bottom: -0.3rem;
              left: 0.3rem;
            }
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        top: 50%;
        width: 2.5rem;
      }
      .swiper-button-prev {
        left: 2.5%;
      }
      .swiper-button-next {
        right: 2.5%;
      }
      .swiper-pagination-bullet {
        display: none;
      }
    }
    &__more {
      margin-top: 4.5rem;
      width: 25rem;
      height: 5.5rem;
    }
  }
}

/*
    ########  ########  ######  ########  ##     ## #### ########
    ##     ## ##       ##    ## ##     ## ##     ##  ##     ##
    ##     ## ##       ##       ##     ## ##     ##  ##     ##
    ########  ######   ##       ########  ##     ##  ##     ##
    ##   ##   ##       ##       ##   ##   ##     ##  ##     ##
    ##    ##  ##       ##    ## ##    ##  ##     ##  ##     ##
    ##     ## ########  ######  ##     ##  #######  ####    ##
*/
.topRecruit {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 8rem;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
  }
  .top-title {
    &::before {
      background: $siteColor;
    }
  }
  &Wrap {
    margin-top: 7.65rem;
    height: 24rem;
  }
  &__item {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    width: calc((100% - 12rem) / 5);
    height: 20rem;
    font-weight: bold;
    text-align: center;
    background: white;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      border: 1px solid $siteColor;
      transform: scale(1.15);
    }
    &--ttl {
      margin-top: 1.5rem;
      color: #1a1a1a;
    }
  }
  &__more {
    margin: 9rem auto 0;
    width: 28rem;
    height: 7rem;
  }
  &__btn {
  }
  &__entry {
    margin: 16rem auto 0;
  }
  /*
             ######  ########
            ##       ##     ##
    #######  ######  ########
                  ## ##
             ######  ##
  */
  // ↓sp相当幅
  @media #{$media-sp} {
    padding-top: 10rem;
    padding-bottom: 4rem;
    &__bg {
    }
    &Wrap {
      margin-top: 4rem;
      height: auto;
    }
    &__item {
      position: relative;
      margin-bottom: 1rem;
      padding: 1.8rem 3rem;
      border: 1px solid #c1c1c1;
      width: 100%;
      height: auto;
      font-size: 1.8rem;
      img {
        width: 4.4rem;
      }
      &--ttl {
        margin-top: 0;
        margin-left: 4.4rem;
      }
      .icon {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        width: 4rem;
        stroke: $siteColor;
        transform: translateY(-50%);
      }
    }
    &__more {
      margin-top: 3.5rem;
      width: 25rem;
      height: 5.5rem;
    }
    &__entry {
      margin-top: 6.5rem;
    }
  }
}
